body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
}

.text-formation {
    font-size: 40px;
    text-align: center;
}

.color {
    color: #69bfe0;
}

.flaxible-block {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5%;

}

.width-space {
    width: 50%;

}

#heading-border {
    border-left: 4px solid #4c7383;
    padding-left: 3%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    background-image: linear-gradient(rgb(4, 4, 53), #3c829e);
    border-radius: 10px;

}

#mission-div {
    background-color: rgb(224, 219, 207);
    border-radius: 15px;
    width: 30%;
    margin-left: ;
    margin-right: 1%;
    padding: 2%;
    margin-bottom: 2%;

}

#vission-div {
    background-color: rgb(200, 219, 219);
    border-radius: 15px;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    margin-bottom: 2%;

}

#goal-div {
    background-color: rgb(172, 228, 179);
    border-radius: 15px;
    width: 30%;
    margin-left: 1%;
    margin-right: ;
    padding: 2%;
    margin-bottom: 2%;

}

.image {
    width: 120px;
}

.img-dev-glob {
    width: 350px;
}

#process {
    padding-left: 10%;
}

.heading-font {
    font-size: 30px;
}

#image-2 {
    border-radius: 20px;
}

.color {
    color: rgb(236, 28, 28);
}

.blo-don {
    color: rgb(236, 28, 28);
}

#blo-appl {
    padding-left: 25%;
}

#img-blood {
    width: 350px;
    padding-left: 35%;
}